In [1]:
import pandas as pd

In [52]:
dataset = pd.read_csv('SalaryData.csv')

In [6]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [7]:
y = dataset['Salary']

In [8]:
x = dataset['YearsExperience']

In [9]:
type(x)

pandas.core.series.Series

In [42]:
X = x.values.reshape(30,1)

AttributeError: 'int' object has no attribute 'values'

In [43]:
X

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
model = LinearRegression()

# y = b + c x

In [17]:
#  know : x , y 

# find: c and b

model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [53]:
z = model.predict( -1 )

In [54]:
z[0]

16342.237877213636

In [25]:
model.coef_

array([9449.96232146])

In [26]:
model.intercept_

25792.20019866871

In [22]:
# linear regression : linear algebra : linear function
# y = b + cx
# y = b + 9449 x

In [23]:
1.1*9449.96232146 + b

10394.958553606

In [24]:
1.5*9449.96232146

14174.94348219

In [49]:
# fresh , exp=0
# exp = x
# y = b + cx
# weight = c = coefficient

# fresh: initial salary offer == constant = b = bias
# y = b

# weight * 1.1


y= 25792 +  9449 * 1.1

In [50]:
y

36185.9

In [28]:
from sklearn.externals import joblib

In [29]:
joblib.dump(model, 'salary_model.pk1')

['salary_model.pk1']

In [36]:
x=5

In [37]:
x

5